<a href="https://colab.research.google.com/github/CristianRiascos/Alura-TelecomX-Challenge/blob/master/Challenge_Etapa2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Extracción

In [1]:
import pandas as pd

In [2]:
# Obtener los datos
url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
json = pd.read_json(url)
json.head(4)

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

# Transformación

In [3]:
import numpy as np

## Normalizar las columnas Customer, Phone, Internet y Account

In [4]:
# Normalizar las columnas
columns = [ 'customer', 'phone', 'internet', 'account' ]
normalized_columns = [ json[['customerID', 'Churn'] ]]

for column in columns:
  normalized = pd.json_normalize( json[column] )
  normalized_columns.append(normalized)

data = pd.concat(normalized_columns, axis=1)
data.head(4)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85

In [5]:
## Conocer los datos

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

Note que la columna Charges.Total que representa cargos totales es de tipo Objeto y no Float. Al intentar realizar el cambio a valores númericos se encontró que existen espacios (estos valores no cuentan en .info como nulos)

In [6]:
# Esto da error si se ejecuta porque existen espacios
# data['Charges.Total'] = pd.to_numeric( data['Charges.Total'] )

## Limpiar valores ausentes

In [7]:
data.isnull().sum()

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [8]:
# Como se encontraron espacios anteriormente, se verifica si existen espacios en todas las columnas
for col in data.columns:
  res = ( data[col].astype(str).str.isspace() ).sum()
  print( f"{col} : {res} espacios" )

customerID : 0 espacios
Churn : 0 espacios
gender : 0 espacios
SeniorCitizen : 0 espacios
Partner : 0 espacios
Dependents : 0 espacios
tenure : 0 espacios
PhoneService : 0 espacios
MultipleLines : 0 espacios
InternetService : 0 espacios
OnlineSecurity : 0 espacios
OnlineBackup : 0 espacios
DeviceProtection : 0 espacios
TechSupport : 0 espacios
StreamingTV : 0 espacios
StreamingMovies : 0 espacios
Contract : 0 espacios
PaperlessBilling : 0 espacios
PaymentMethod : 0 espacios
Charges.Monthly : 0 espacios
Charges.Total : 11 espacios

In [9]:
# La cantidad de datos con espacios y nulos es poca (0.15%), se deciden eliminar estos registros
data = data[ ~data['Charges.Total'].str.isspace() ]
data[ 'Charges.Total' ].str.isspace().sum()
data.reset_index( drop=True, inplace=True )

## Corrección de formatos

Se debe de cambiar Charges.Total a Float

In [10]:
data['Charges.Total'] =  data['Charges.Total'].astype( np.float64 )

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7256 non-null   object
 1   Churn             7256 non-null   object
 2   gender            7256 non-null   object
 3   SeniorCitizen     7256 non-null   int64
 4   Partner           7256 non-null   object
 5   Dependents        7256 non-null   object
 6   tenure            7256 non-null   int64
 7   PhoneService      7256 non-null   object
 8   MultipleLines     7256 non-null   object
 9   InternetService   7256 non-null   object
 10  OnlineSecurity    7256 non-null   object
 11  OnlineBackup      7256 non-null   object
 12  DeviceProtection  7256 non-null   object
 13  TechSupport       7256 non-null   object
 14  StreamingTV       7256 non-null   object
 15  StreamingMovies   7256 non-null   object
 16  Contract          7256 non-null   object
 17  PaperlessBilling  7256 non-null   object
 18  PaymentMethod     7256 non-null   object
 19  Charges.Monthly   7256 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

## Verificar datos duplicados

In [12]:
data.duplicated().sum()

np.int64(0)

## Aañadir columna de las cuentas diarias

In [13]:
data['Charges.Daily'] = round( (data['Charges.Monthly'] / 30), 2 )

In [14]:
data.head(4)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Charges.Daily
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.19
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,2.00
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.46
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.27

## Estandarizar datos

Cambiar InternetService a español

In [15]:
data['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [16]:
data['InternetService'] = data['InternetService'].apply( lambda x:
                                                        x.replace( 'Fiber optic', 'Fibra Óptica' )
                                                        )

Cambiar Contract a español

In [17]:
data['Contract'].unique()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [18]:
data['Contract'] = data['Contract'].apply( lambda x: x \
                                          .replace( 'One year', 'Un Año' ) \
                                          .replace( 'Month-to-month', 'Mes a Mes' ) \
                                          .replace( 'Two year', 'Dos Años' )
                                          )

Cambiar PaymentMethod a español

In [19]:
data['PaymentMethod'].unique()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [20]:
data['PaymentMethod'] = data['PaymentMethod'].apply( lambda x: x \
                                                    .replace( 'Mailed check', 'Cheque por Correo' ) \
                                                    .replace( 'Electronic check', 'Cheque Electrónico' ) \
                                                    .replace( 'Credit card (automatic)', 'Tarjeta de Crédito (Automático)' ) \
                                                    .replace( 'Bank transfer (automatic)', 'Transferencia Bancaria (Automático)' )
                                                    )